<div layout="vertical" layout-fill>

  <md-content class="content signup-content">
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="spacer">
            <!--<div class="alert-message">{{vm.alertMessage}}</div>-->
            <form name="tripForm" class="search-trip-form search-trip-search  fontcolor caviar-font">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Ville de départ</label>
                  <input ng-model="vm.searchData.beginCity">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Ville d'arrivée</label>
                  <input ng-model="vm.searchData.endCity">
                </md-input-container>
                  <md-datepicker class="md-block" flex-gt-sm ng-model="vm.searchData.date" md-placeholder="Saisir la date"></md-datepicker>
                <md-input-container class="md-block" flex-gt-sm>
                <label>Heure de départ</label>
                  <md-select ng-model="vm.searchData.time.hour">
                    <md-option ng-repeat="hour in vm.selectHours" value="{{hour}}">
                      {{hour}}
                    </md-option>
                  </md-select>
              </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                <label>Minutes de départ</label>
                  <md-select ng-model="vm.searchData.time.minute">
                    <md-option ng-repeat="minute in vm.selectMinutes" value="{{minute}}">
                      {{minute}}
                    </md-option>
                  </md-select>
              </md-input-container>
                <div class="md-block" layout="row" layout-align="center center" flex-gt-sm>
                  <md-button class="md-raised md-primary" ng-click="vm.search()">Valider</md-button>
                </div>
              </div>
            </form>
    </section>
    <section>
      <div class="" layout="column" layout-align="center">
        <md-card ng-repeat="trip in vm.trips | orderBy:'rank'">
          <md-card-content>
            <div flex="10">
              {{trip.date}} {{trip.hoursDeparture}}
            </div>
            <div flex="10">
              {{trip.origin}}
            </div>
            <div flex="10">
              {{trip.destination}}
            </div>
            <div flex="10">
              {{trip.price}}
            </div>
            <div flex="10">
              {{trip.placesLeft}}
            </div>
            <div flex="10">
              {{trip.user.lastName}} {{trip.user.firstName}}
            </div>
          </md-card-content>
        </md-card>
      </div>
    </section>
  </md-content>

</div>
