<div layout="vertical" layout-fill>

  <md-content class="content signup-content">
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="spacer">
            <!--<div class="alert-message">{{vm.alertMessage}}</div>-->
            <form name="tripForm" class="search-trip-form search-trip-search  fontcolor caviar-font">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{ 'SEARCH_START' | translate }}</label>
                  <input ng-model="vm.searchData.beginCity">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{ 'SEARCH_END' | translate }}</label>
                  <input ng-model="vm.searchData.endCity">
                </md-input-container>
                  <md-datepicker class="md-block" flex-gt-sm ng-model="vm.searchData.date" md-placeholder="{{ 'SEARCH_DATE' | translate }}"></md-datepicker>
                <md-input-container class="md-block" flex-gt-sm>
                <label>{{ 'SEARCH_HOUR' | translate }}</label>
                  <md-select ng-model="vm.searchData.time.hour">
                    <md-option ng-repeat="hour in vm.selectHours" value="{{hour}}">
                      {{hour}}
                    </md-option>
                  </md-select>
              </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                <label>{{ 'SEARCH_MINUTES' | translate }}</label>
                  <md-select ng-model="vm.searchData.time.minute">
                    <md-option ng-repeat="minute in vm.selectMinutes" value="{{minute}}">
                      {{minute}}
                    </md-option>
                  </md-select>
              </md-input-container>
                <div class="md-block" layout="row" layout-align="center center" flex-gt-sm>
                  <md-button class="md-raised md-primary" ng-click="vm.search()">{{ 'SEARCH_VALIDATE' | translate }}</md-button>
                </div>
              </div>
            </form>
    </section>
    <section>
      <div class="" layout="column" layout-align="center">
        <md-card flex="100" class="search-trip-header">
          <md-card-content layout="row" layout-align="center center">
            <div flex="15" class="search-trip-list-item">
              Date :
            </div>
            <div flex="15" class="search-trip-list-item">
              Ville de départ :
            </div>
            <div flex="15" class="search-trip-list-item">
              Ville d'arrivée :
            </div>
            <div flex="15" class="search-trip-list-item">
              Tarif :
            </div>
            <div flex="15" class="search-trip-list-item">
              Place disponibles :
            </div>
            <div flex="15" class="search-trip-list-item">
              Utilisateur :
            </div>
          </md-card-content>
        </md-card>
        <md-card ng-repeat="trip in vm.trips | orderBy:'rank'" flex="100">
          <md-card-content layout="row" layout-align="center center">
            <div flex="15" class="search-trip-list-item">
              {{trip.date}} {{trip.hoursDeparture}}
            </div>
            <div flex="15" class="search-trip-list-item">
              {{trip.origin}}
            </div>
            <div flex="15" class="search-trip-list-item">
              {{trip.destination}}
            </div>
            <div flex="15" class="search-trip-list-item">
              {{trip.price}}
            </div>
            <div flex="15" class="search-trip-list-item">
              {{trip.placesLeft}}
            </div>
            <div flex="15" class="search-trip-list-item">
              {{trip.user.lastName}} {{trip.user.firstName}}
            </div>
          </md-card-content>
        </md-card>
      </div>
    </section>
  </md-content>

</div>
