<div layout="vertical" layout-fill>

  <md-content class="content signup-content">
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section>
            <form class="signup-form" name="userForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Prénom</label>
                  <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nom</label>
                  <input ng-model="user.lastName">
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Addresse</label>
                <input ng-model="user.address">
              </md-input-container>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Ville</label>
                  <input ng-model="user.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Code Postal</label>
                  <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                         required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">Vous devez saisir un code postal.</div>
                    <div ng-message="pattern" class="my-message">Ce code postal n'est pas valide.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="newUser()">Valider</md-button>
              </div>
            </form>
    </section>
  </md-content>

</div>
